.green{
    background-color:#15202B;
}
.green .active a,
.green .active a:hover {
    background-color: green;
}

.chilliprofile{
    border-radius: 50px;
    width:33%;
    height:auto;
}
.inline{
    display: inline;
}

body{
    background:#192734;
    color:#fff;
}
.setup{
    width:100%;
    height:auto;
}
h1, h2, h3, h4, h5{
    font-family: 'Inconsolata', monospace;
}