{% extends "template.html" %}
{% set active_page = "home" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <p><h4 class="inline">Welcome</h4> to our Ubiquitous Computing Project! This site was created for Group 3 of Edinburgh Napier's UBICOM course to record data being gathered from a chilli plant that has been adapted with an Arduino MKR1000.
        </p>
        <p>
            <h4 class="inline">The</h4> Internet of Things (IoT) is all around us quite literary. After the advent of smart phones, technology has been implimented in many ways was thought only to be Sci-Fi up until recently.
            The thermostat that would be built into the wall is now replaced by a smart reader that updates users with helpful tips about saving money. Modern cookers can connect to mobile devices, so you can preheat the oven on your way home from work. 
            Even the basic lightbulb has been introduced into the IoT gallery! 
        </p>
        <p>
            <h4 class="inline">These</h4> are just a few basic examples of how IoT has intigrated into the household. However it does not have to be just kitchen applicances or electronic devices that this market is created for. The IoT welcomes all with open arms.
        </p>
        <p>
            <h4 class="inline">The</h4> major crux of Iot is the constant generation and gathering of data. Data can be gathered from everything. Including plants. Yes, plants!
        </p>
        <p>
            <h4 class="inline">This</h4> website serves as an introduction to our group project, a dashboard for the data gathered and a brief tutorial on how this project was coordinated.
        </p>
   </div>
   <div class="col-sm-6">
        <a class="twitter-timeline" data-height="800" data-theme="dark" href="https://twitter.com/chilli_plant?ref_src=twsrc%5Etfw">Tweets by chilli_plant</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}

