{% extends "template.html" %}
{% set active_page = "home" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <p>Welcome to our Ubiquitous Computing Project! This site was created for Group 3 of Edinburgh Napier's UBICOM course to record data being gathered from a chilli plant that has been adapted with an Arduino MKR1000. The site is still under construction as is the project so be sure to come back soon to see how development has improved.</p>
   </div>
   <div class="col-sm-6">
            <a class="twitter-timeline" href="https://twitter.com/chilli_plant?ref_src=twsrc%5Etfw">Tweets by chilli_plant</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
</div>
{% endblock %}

