<!doctype html>
<html>

<head>
    <title>Chilli Plant Stats</title>
    <meta name='author' content='Marc Inglis, Zak Rodgers - Edinburgh Napier'>
    <meta name='description' content="An Online directory for all of the products that Aitken's sale. This is also a space for them to talk about themselves as a company and advertise their locations">
    <meta charset="UTF-8">
    <meta name='keyboards' content="Chilli Plant Arduino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="chilliprofile" src={{url_for('static', filename="images/chilliPlant.jpg")}} alt="chilli plant profile picture"> </div>
            <div class="col-sm-8">
                <h1>Chilli Plant Stats!</h1>
            </div>
            
        </div>
    <hr>
    <ul class="nav nav-pills nav-fill green">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" href={{ url_for('home')}}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'plant1' else '' }}" href={{ url_for('plant1') }}>Plant 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'plant2' else '' }}" href={{ url_for('plant2') }}>Plant 2</a>
        </li>        
      </ul>
    </div>
    <div class="container">
        <div id="content">{% block content %}{% endblock %}</div>
        <a class="twitter-timeline" href="https://twitter.com/chilli_plant?ref_src=twsrc%5Etfw">Tweets by chilli_plant</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>